.card {
    display: flex;
    align-items: center;
    margin: 5%;
}
.card-img {
    width: 40%;
    padding-top: 15%;
}

@media (max-width: 750px) {

    .discover{
        margin-left: 20px;
    } 

    .cardDiscover{
        display: flex;
    }
}