body{
    background-color: #2F303A;
    color: white;
    font-size: 1.2 rem;
    overflow-x: hidden;
}

.Circle {
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    z-index: -1;
}
.bold {
  font-weight: bold;
}
.blank{color: white !important;}

@media (max-width: 750px) {
  #landImage {
    display: none;
  }
  .textLandingText{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    margin-left: 40px;
  }
}